/* div h2{
    background-color: cornflowerblue;
}
#mydiv thead{
    background-color: blueviolet;
}
table.myclass{
    background-color: yellow;
}
.test.myclass{
    background-color: crimson;
}

div table{
    background-color: blue;
}
h1,div h2{
    color: brown;
    font-size: xx-large;
}

 div{
    border: 1px solid #000000;
 }
 #mydiv > p{
    font-size: x-large;
    color: red;
    font-weight: bolder;
 }
 
 #mydiv ~ div{
    background-color: blue;
 }


#mydiv h2:hover{
    background-color: blue;
}
#mydiv h2::selection{
    background-color: red;
}

#mydiv h2::after{
    content: "Hyyyyyy ";
    background-color: red;
}


input:focus{
    background-color: tomato;
}

#mydiv p::first-line{
    color: yellow;
}
*/
[bs-data="my test 3"]{
    background-color: red;
}

.general-style{
    /* background-color: aliceblue;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; */

    /* background: aliceblue url('../images/background.jpg') no-repeat right top; */
    /* width: 100%; */
    height: 500px;

    border-style: dashed;
    border-width: 5px;
    border-color: red;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: double;

    border-radius: 50px;
    /* border: 5px solid red; */


    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;  */
    /* margin: top right bottom left;   */
    /* margin: 100px 30px 200px 300px; */

     /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;  */
    /* padding: top right bottom left;   */

    color: blue;
    text-align: center;    
    direction: rtl;
    vertical-align: middle;

    text-decoration-line: underline;
    text-decoration-color: blue;
    text-decoration-style: double;
    text-decoration-thickness: 25%;

    text-decoration: underline red double 5px;

    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
    font-size: 14px;
    font-weight: bolder;
    

}

tbody, td, tfoot, th, thead, tr {
    border-color: red;
    border-style: dashed;
    border-width: 0;
}
#mydiv{
    background-color: aqua;
}